/* main.css */

/* pink for buttons and text/headers/anchors: #dc4ab1; */
/* purple used for text/headers/numbered bullets: #926ae6; */
* {
  box-sizing: border-box;
}
.clear-fix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
html {
  font-size: 16px;
}
body {
  /*border: 1px solid white;*/
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color: #353334;
  margin: 0;
  padding: 0;
}
.container {
  /*border: 1px solid red;*/
  margin: 8rem 9% 0rem 9%;
}
header {
  background-color: #302e2f;
  position: fixed;
  z-index: 10;
  padding: 1rem 5.5rem;
  padding: 1rem 6.25%;
  top: 0;
  left: 0;
  right: 0;
}
.blogModernDeveloper {
  /*border: 1px solid white;*/
  display: inline-block;
}
.blog-icon {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  border-radius: 1.75rem;
  color: white;
}
.blog-icon-bordered {
  border: 2px solid #a1a0b5;
}
.bg-color-learn {
  background-color: rgb(75, 194, 212);
}
.bg-color-know {
  background-color: rgb(204, 140, 246);
}
.bg-color-icon-blue {
  background-color: #4a96de;
}
.bg-color-icon-purple {
  background-color: #7b7cec;
}
.md-text {
  font-size: 1rem;
  display: inline;
  margin-left: 0.75rem;
  font-family: "Roboto Slab";
  font-weight: 700;
}
.md-text-header {
  color: #fff;
}
.md-text-header span {
  color: #a0a0a0;
  color: #a6a6a6;
  font-weight: 400;
}
.search-field-and-button {
  /*border: 1px solid white;*/
  display: inline-block;
  float: right;
}
.search-field-and-button input, .search-field-and-button button {
  color: #e8e8e8;
  height: 2rem;
  border: none;
  border-radius: 2px;
}
.search-field-and-button input {
  background-color: #4d4d4d;
  padding: 0 0.5em;
  width: 14em;
}
.search-field-and-button button {
  background-color: #717171;
  margin: -6px;
  text-align: center;
  width: 2em;
}
button:hover {
  cursor: pointer;
}
article {
  /*border: 1px solid yellow;*/
  position: relative;
  width: 70%;
  float: left;
  /*background-color: white;*/
}
.article {
  /*border: 1px solid red;*/
  padding: 2.5rem 0 0 0;
  background-color: white;
  border-radius: 2px;
}
.article-title {
  margin: 0rem 2.5rem 0.5rem 2.5rem;
  font-weight: 300;
  font-size: 2.25rem;
}
.article-content {
  /*border: 1px solid orange;*/
  margin: 0 2.5rem;
}
.article-publish-info {
  /*border: 1px solid red;*/
  margin: 1rem 2.5rem 1.5rem 2.5rem;
}
.article-publish-info {
  font-size: 0.8rem;
  color: #6f6f6f;
}
.article-publish-info img {
  margin: 0 0.25rem;
  border: 1px solid black;
  border-radius: 2px;
  height: 1.25rem;
  vertical-align: middle;
}
.article-image {
  /*border: 1px solid orange;*/
  width: 100%;
  height: auto;
}
span.article-author {
  color: #dc4ab1;
}
.article-section-heading {
  font-size: 1.5rem;
  font-weight: 300;
  color: #9e4ce2;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
/*  code sample */

.code-sample {
  /*border: 1px solid red;*/
  margin: 2rem 0;
  font-size: 0.8rem;
}
.code-sample .tab {
  /*border: 1px solid orange;*/
  display: inline-block;
  text-transform: uppercase;
  color: #aaa;
  padding: 0.5rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.code-sample .tab:hover {
  cursor: pointer;
}
.code-sample .code,
.code-sample .result {
  border-radius: 4px;
  line-height: 1.8; /* prism overrides */
  padding: 0.5rem 0.5rem;
}
.code-sample .code {
border-top-left-radius: 0;
}
.code-sample pre,
.code-sample code {
  font-family: "Roboto", sans-serif;
}
.code-sample .foreground {
  background-color: #eee;
  background-color: #f5f2f0; /* prism.css */
}
.code-sample .tab.foreground {
  color: #dc4ab1;
}
.code-sample .display-block {
  display: block;
}
.code-sample .display-none {
  display: none;
}
.code-sample .code-explanation p {
  /*border: 1px solid red;*/
  font-size: 0.75rem;
  line-height: 1.4;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.article-intro p, .article-section p {
  line-height: 1.75rem;
}
.article-intro a, .article-section a {
  text-decoration: none;
  color: #dc4ab1;
}
.related-articles {
  /*border: 1px solid orange;*/
  margin: 1.5rem 0;
  padding: 1rem 2.5rem;
  background-color: #e9e7e8;
  width: 100%;
}
.related-articles h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #dc4ab1;
}
.related-articles ul {
  /*border: 1px solid orange;*/
  list-style-type: none;
  padding-left: 1em;
}
.related-articles ul li {
  /*border: 1px solid yellow;*/
  position: relative;
}
.related-articles ul li {
  border-left: 1px solid #b6b6b6;
  /*height: 2.25rem; don't specify height so wrapping looks proper */
  /*line-height: 2.25rem;
  padding: 0 0 0 2rem;*/
  line-height: 1.5rem;
  padding:  0.35rem 0 0.75rem 2rem;
}
.related-articles a {
  text-decoration: none;
  transition: 0.3s ease;
  color: #000;
}
.related-articles ul li:last-child {
  padding:  0.35rem 0 0.5rem 2rem;
}
.related-articles ul li span.relatedArticleNumber {
  display: inline-block;
  /*position: relative;*/
  position: absolute; /* new */
  top: 0.4rem; /* new */
  left: -0.625rem;
  font-size: 0.75rem;
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  line-height: 1.25rem;
  border-radius: 0.625rem;
  color: #b6b6b6;
  background-color: white;
  border: 1px solid #b6b6b6;
  transition: 0.3s ease;
}

.related-articles ul li a:hover {
  color: #926ae6;;
}
.related-articles ul li a:hover + span {
  /* width and height change by +0.35rem */
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.4rem; /* ?? expected 0.75 - 1/2(0.35) */
  line-height: 1.6rem;
  border-radius: 0.8rem;
  left: -0.8rem; /* -0.625 + (-0.175) */
  top: 0.175rem; /* 0.175rem seems the correct calculation but looks a bit small */
  color: #926ae6;
  border: 1px solid #926ae6;
}
.related-articles ul li a:active + span {
  background-color: #926ae6;
  color: #fff;
}
.article-footer {
  /*border: 1px solid red;*/
  width: 100%;
  margin: 0;
  padding: 0 2.5rem 1.5rem 2.5rem;
}
ul.keywords, ul.social-networks {
  /*border: 1px solid #00ff00;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
ul.social-networks {
  float: right;
  position: relative;
  top: -0.25rem;
}
ul.keywords li, ul.social-networks li {
  display: inline-block;
}
ul.keywords li {
  font-size: 0.75rem;
  height: 1.25rem;
  line-height: 1.25rem;
  border-radius: 0.675rem;
  padding: 0 0.5rem;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
}
ul.keywords li:not(:last-child) {
  margin-right: 0.1rem;
}
ul.keywords li a {
  display: inline-block;
  border: none;
  text-decoration: none;
  color: #b6b6b6;
}
ul.keywords li:hover,
ul.keywords li:hover a {
  color: #f263cf;
  border-color: #f263cf;
}
ul.social-networks li {
  box-sizing: content-box;
  color: #b6b6b6;
  border: 2px solid #b6b6b6;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
  transition: 0.3s ease;
}
ul.social-networks li:not(:first-child) {
  margin-left: 0.25rem;
}

ul.social-networks a {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #b6b6b6;
  transition: 0.3s ease;
}

/* Twitter */
ul.social-networks li.iconTwitter:hover,
ul.social-networks li.iconTwitter:hover a {
  color: #6cadde;
  border-color: #6cadde;
}
/* Facebook */
ul.social-networks li.iconFacebook:hover,
ul.social-networks li.iconFacebook:hover a {
  color: #3b5999;
  border-color: #3b5999;
}
/* Github */
ul.social-networks li.iconGithub:hover,
 ul.social-networks li.iconGithub:hover a {
  color: #000;
  border-color: #000;
}
/* Google-Plus */
ul.social-networks li.iconGooglePlus:hover,
ul.social-networks li.iconGooglePlus:hover a {
  color: #fff;
  border-color: #db4437;
}
ul.social-networks li.iconGooglePlus:hover {
  background-color: #db4437;
}

.article-comments {
  border: 1px solid #fff; /* ?? */
  /*background-color: #353334;*/
  /*background-color: #00ff00;*/
  color: #838383;
  margin: 0;
  padding: 0rem 2.5rem 0rem 2.5rem;
  /* ?? find out why the LACK of border will
    then ignore top margin on h3 below ?? */
  border: 1px solid #353334;
}
.article-comments h3 {
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
  font-weight: 400;
}
.article-comments textarea {
  background-color: #6a6869;
  color: #e8e8e8;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
}
button.post, button.subscribe {
  text-align: center;
  font-size: 0.8rem;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #f263cf;
  height: 2rem;
}
button.post {
  display: block;
  width: 8rem;
  margin: 1rem auto 2rem auto;
}
.comment-box {
  /*border: 1px solid white;*/
}
/* unordered lists for posts/comments and associated replies */
.comment, .reply {
  /*border: 1px solid red;*/
  font-size: 0.8rem;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.comment li, .reply li {
  position: relative;
  padding: 0;
  color: #b5b5b5;
}
.comment li p, .comment li span, .comment li button,
 .reply li p, .reply li span, .reply li button {
  margin: 0 0 0.25rem 1rem;
  line-height: 1.4rem;
  border: none;
}
.comment li span:first-child,
.reply li span:first-child {
  color: #fff;
  font-weight: bold;
}
.comment li span:nth-child(2),
.reply li span:nth-child(2) {
  color: #6f6f6f;
}
.reply {
  /* margin-left = :before "image box" width plus <p> left margin */
  margin-left: 3.5rem;
}
/*.comment li:first-child:before,
.reply li:first-child:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -40px;
    height: 40px;
    width: 40px;
    left: -2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
}*/
/*.comment li:first-child:before {
  background-image: url('../images/nobody_f.256x256.jpg');
}*/
.comment img, .reply img {
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
}
/*.reply li:first-child:before {
  background-image: url('../images/nobody_m.256x256.jpg');
}*/
.comment button, .reply button {
  padding: 0;
  background-color: #353334;
  color: #f263cf;
}

/* rhs of desktop page */
.articles-menu {
  position: relative;
  width: 28%;
  margin-bottom: 1.5rem;
  float: right;
}

/* using font-size: 0 because of display: inline-block; on radio labels as tabs */
.articles {
  font-size: 0;
  border-radius: 3px;
}

/* only need the following 8 rule sets if using an unordered list with anchors
    for the "tabbed" "Recent Articles", and "Upcoming Posts" tabs; */
.articles-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*max-height: inherit;*/
}

/* tabs for "Recent Articles" and "Upcoming Posts" using unordered list */
.articles-menu ul.article-choices li {
  text-align: center;
  font-size: 0.9rem;
  color: #4a96de;
  width: 50%;
  float: left;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.articles-menu ul.article-choices li:hover {
  cursor: pointer;
}

/* default/initial active tab */
.articles-menu ul.article-choices li:first-child {
  background-color: #272526;
}

/* default/initial inactive tab */
.articles-menu ul.article-choices li:last-child {
  background-color: #353334;
}

.articles-menu ul.article-choices li a {
  display: inline-block;
  padding: 0.75rem 0;
  width: 100%;
  text-decoration: none;
  color: #4a96de;
}

/* need a means of having selected tab change background color */
.articles-menu ul.article-choices li a:active {
  background-color: #272526;
}

/* ?? NOTE: if NOT using the ul for article tabs, then the following must
    be commented out, or it interferes animation of the tab contents; */

/*#recent-articles:target,
#upcoming-posts:target {
  height: auto;
  opacity: 1;
  transform: scaleY(1);
}*/

/* rule sets above are for using ul as tabs */

/* radios */

.articles input[type=radio] {
  display: none;
}
.articles input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 0.9rem;
  color: #4a96de;
  background-color: #353334;
  width: 50%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: 0.4s ease;
}

.articles input[type=radio]:checked + label {
  background-color: #272526;
}
/* radios */

/* .tabbed-articles-container merely provides a constant background fill color
    for the container while swapping the inner tabbed divs height, scale,
    and opacity during transition; */
.tabbed-articles-container {
  background-color: #272526;
  /*transition: 0.5s;*/
}

.tabbed-articles {
  /*#recent-articles, #upcoming-posts {*/
  /*position: absolute;*/
  background-color: #272526;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0 1rem;
  overflow-y: hidden;
  /* below rules are for animation purposes */
  opacity: 0;
  height: 0;
  transform: scaleY(0);
  transition: 0.5s;
  /******************************************/
  /*max-height: 0;
  position: absolute;*/
  /*transition: 0.8s;*/
  /*transition: max-height 0.4s 0.4s, transform 0.5s;*/
}

/* radios */

#tab1:checked ~ .tabbed-articles-container #recent-articles {
  opacity: 1;
  height: auto;
  transform: scaleY(1);
  transition: 0.5s;
  /*max-height: 1200px;
  position: static;
  transition: 1.8s;*/
  /*transition: max-height 0.4s 0.4s, transform 0.5s;*/
  /*animation: tabChecked 10s;*/
}

#tab2:checked ~ .tabbed-articles-container #upcoming-posts {
  opacity: 1;
  height: auto;
  transform: scaleY(1);
  transition: 0.5s;
  /*max-height: 1200px;
  position: static;
  transition: 1.8s;*/
  /*transition: max-height 0.4s 0.4s, transform 0.5s;*/
  /*animation: tabChecked 10s;*/
}

/* radios */

.tabbed-articles ul li {
  border-bottom: 1px solid #6f6f6f;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.tabbed-articles h4 {
  font-size: 0.9rem;
  color: #4f6985;
  margin-bottom: 0.25rem;
  margin-top: 0rem;
}

.tabbed-articles span {
  font-size: 0.8rem;
  color: #6f6f6f;
}

@keyframes tabChecked {
  10% {height: auto; transform: scaleY(1);}
  100% {opacity: 1; height: auto; transform: scaleY(1);}
}

button.load-more {
  width: 100%;
  border: none;
  background-color: #272526;
  color: #4a96de;
  font-size: 0.8rem;
  height: 2.5rem;
  text-transform: uppercase;
}
/* below is the subscribe <form> */
.subscribe-email {
  background-color: #353334;
  padding-top: 1.75rem;
  transition: 0.3s ease;
}
input[type="email"] {
  border: none;
  border-radius: 2px;
  background-color: #6a6869;
  color: #e8e8e8;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.75rem;
  font-size: 0.8rem;
  width: 66%;
}
input[type="email"]:valid {
  background-color: #6a6869;
}
button.subscribe {
  width: 5rem;
  width: 30%;
  min-width: 4.5rem;
  float: right;
}
footer {
  /*padding: 3.5rem 6.25rem;*/
  padding: 3.5rem 9%;
  background-color: #242424;
}
.md-text-footer {
  color: #a6a6a6;
}
.md-text-footer span {
  color: #6f6f6f;
  font-weight: 400;
}
footer div.copyright {
  float: right;
  font-size: 0.75rem;
  color: #6f6f6f;
}
footer a {
  color: #a6a6a6;
  text-decoration: none;
}

@media screen and (max-width: 1090px) {
  article, .articles-menu {
    clear: both;
    width: 100%;
  }
  .articles-menu {
    margin-top: 1rem;
    width: 100%;
  }
  input[type="email"] {
    width: 68%;
  }
  .subscribe {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 675px) {
  ul.keywords, ul.social-networks {
    text-align: center;
    display: block;
  }
  ul.social-networks {
    top: 0;
    margin-top: 1.5rem;
    float: none;
  }
}

@media screen and (max-width: 580px) {
  header, footer {
    text-align: center;
  }
  .blogModernDeveloper {
  }
  .search-field-and-button {
    margin-top: 1rem;
    float: none;
    display: block;
  }
  .subscribe {
    width: 100%;
  }
  footer div.copyright {
    margin-top: 1rem;
    float: none;
  }
}

@media screen and (max-width: 460px) {
  .container {
    margin: 8rem 5% 0rem 5%;
    margin: 8rem 2% 0rem 2%;
  }
  .article-title {
    margin: 0rem 1rem 0.5rem 1rem;
    font-size: 2rem;
  }
  .article-content {
    margin: 0 1rem;
  }
  .article-publish-info {
    margin: 1rem 1rem 1.5rem 1rem;
  }
  .related-articles {
    padding: 1rem 1rem;
  }
  .article-footer {
    padding: 0 0.125rem 1rem 0.125rem;
  }
  .article-comments {
    padding: 0rem 1rem 0rem 1rem;
    /* ?? find out why the LACK of border will
      then ignore top margin on h3 below ?? */
    border: 1px solid #353334;
  }
  .comment img, .reply img {
    /*display: none;*/
  }
  footer {
    padding: 2rem 9%;
  }
}